{% extends 'blog/base.html' %}

{% block title %}
  Password Recovery 
{% endblock %}

{% block content %}
  <h1>Letter was delivered</h1>
  <p>Check mail</p>
{% endblock %}


{% block aside_block %}
<h4 class="mt-2">Interesting Articles</h4>
<img src="https://itproger.com/img/news/1591879929.jpg" class="img-thumbnail">
<p>Godot </p>
<a href="https://itproger.com/news/285" target="_blank">
  <button class="btn btn-warning">Check</button>
</a>

<img src="https://itproger.com/img/news/1589893627.jpg" class="img-thumbnail mt-4">
<p>Check out Python article </p> 
<a href="https://itproger.com/news/285" target="_blank">
  <button class="btn btn-warning">Check</button>
</a>
{% endblock %}
